<!-- 
    File name: views\partials\footer.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

</body>

<footer>
    <div class="footer">
        <p class="bg-secondary bg-gradient text-white text-center pt-2 pb-2">&copy; Sze Ki Yeung 2023 COMP229-020</p>
    </div>
</footer>

</html>