<!-- 
    File name: views\partials\footer.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<div>
    <p class="bg-secondary bg-gradient text-white text-center">&copy; Sze Ki Yeung COMP-229</p>
</div>
</body>
</html>