<!-- 
    File name: views\partials\nav.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27

    This navbar partial is exported to the header
 -->

 <!-- bootstrap CSS: collapsible navbar -->
 <!-- animate CSS: logo effect -->

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid pt-2">
    
    <img src="/public/img/blob.png" alt="Logo" width="35" height="30" class="d-inline-block align-text-top animate__animated animate__jello">

      <a class="navbar-brand text-light" href="/">Portfolio</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link active link-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="contact">Contact</a>
          </li>
        </ul>
      </div>
  </div>
</nav>