<!-- 
    File name: views\about.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>

<main>
    <section id="bio-container">
        <div class="photo ms-5">
            <img id="profilePic" src="/public/img/profilepic.jpg" style="height: 280px; width: 320px;">
        </div>
        
        <div class="info container-fluid me-5">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">Name:</th>
                    <td>Sze Ki Yeung</td>
                  </tr>
                  <tr>
                    <th scope="row">Other Name:</th>
                    <td>Renee</td>
                  </tr>
                  <tr>
                    <th scope="row">Lives In:</th>
                    <td colspan="2">Toronto</td>
                  </tr>
                  <tr>
                    <th scope="row">Likes:</th>
                    <td colspan="2">Java, Chocolate, Swimming, Cooking</td>
                  </tr>
                  <tr>
                    <th scope="row">Favourite IDE:</th>
                    <td colspan="2">IntelliJ IDEA</td>
                  </tr>
                  <tr>
                    <th scope="row">Speaks:</th>
                    <td colspan="2">English, Cantonese, Mandarin</td>
                  </tr>
                  <tr>
                    <th scope="row">Writes:</th>
                    <td colspan="2">Java, C#, JavaScript, SQL</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>

    <div class="container position-relative mt-5 mb-2">
        <form action="/download" method="get">
            <button type="submit" class="btn btn-info position-absolute top-100 start-50 translate-middle">Download Resume</button>
        </form>
    </div>
</main>
<br><br><br>

<%- include ('partials/footer.ejs') %>