<!-- 
    File name: views\contact.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>



<div class="container-sm" style="width: 30rem">

    <div class="card text-center">
        <img src="/public/img/contact-book.png" class="card-img-top" alt="contact">
        <div class="card-body">
          <h5 class="card-title">Links</h5>
          <p class="card-text">Send me messages, or see my other projects.</p>
          <a href="mailto:yskrenee@gmail.com" class="btn btn-dark">Email</a>
          <a href="https://github.com/ysk345" class="btn btn-dark">GitHub</a>
        </div>
    </div>
    
    <br>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname">
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Contact Number</label>
          <input type="text" class="form-control" id="contact">          
        </div>
        <div class="mb-3"><label for="textarea1" class="form-label">Message</label>
            <textarea class="form-control" id="=textarea1" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-dark">Submit</button>    
    </form>
</div>
<br>

<%- include ('partials/footer.ejs') %>