<!-- 
    File name: views\index.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>

<div class="text-center d-grid gap-2 col-6 mx-auto">
    <a href="about" class="btn btn-info">About Me</a>
    <a href="project" class="btn btn-info">Project Showcase</a>
    <a href="service" class="btn btn-info">Services</a>
    <a href="contact" class="btn btn-info">Contact Information</a>
</div>

<div class="container-fluid">
    <h1>Mission Statement</h1>
    <p>Learn something new every day. Be good to people and the environment.</p>
</div>


    <p class="h1">Hello!</p>
    <h1 class="display-1">display 1 heading</h1>
    <h1 class="display-3">display 3 heading</h1>
    <h1 class="display-6">display 6 heading</h1>
    <p class="display-1">p with display-1</p>

    <small>small text</small>
    <p>Paragraph text</p>
    <p class="lead">Paragraph Lead</p>
    <p class="lead text-center">Hello</p>
    <p class="lead text-end">Hello</p>
    <p class="lead text-left">Hello</p>

    <p class="text-decoration-underline">this is underline text</p>
    <p class="text-decoration-line-through">this is line through text</p>
    <p class="fw-bold">bolded text</p>

    <p class="text-primary">primary</p>
    <p class="text-secondary">secondary</p>
    <p class="text-info">info</p>
    <p class="text-warning">warning</p>
    <p class="text-success">success</p>
    <p class="text-danger">danger</p>
    <p class="text-muted">muted</p>

    <p class="text-white bg-primary">White text on primary bg</p>
    <p class="text-white bg-secondary">white text on secondary bg</p>


    <button class="btn btn-primary">Primary Button</button>
    <button class="btn btn-secondary">secondary Button</button>
    
    <a href="#" class="btn btn-info">Info anchor tag</a>
    <a href="#" class="btn btn-success">success anchor tag</a>

    <button class="btn btn-lg btn-danger">large dander button</button>
    <button class="btn btn-sm btn-warning">small warning button</button>


    <div class="container my-5">
        <h2>Normal container</h2>
    </div>
<div class="container-fluid">
    <h2>fluid container</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis asperiores quisquam quaerat illo. Architecto eius, eos a tempora voluptate eligendi saepe asperiores dolorum minima perferendis quos culpa labore. Vitae, nobis!</p>
</div>



<%- include ('partials/footer.ejs') %>