<!-- 
    File name: views\index.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>
<div class="container-sm">
    <div class="d-grid gap-2 col-6 mx-auto">
        <p class="h1">Hello!</p>
        <a href="about" class="btn btn-info">About Me</a>
        <a href="project" class="btn btn-info">Project Showcase</a>
        <a href="service" class="btn btn-info">Services</a>
        <a href="contact" class="btn btn-info">Contact Information</a>
        <h1>Mission Statement</h1>
        <p>Learn something new every day. <br> Be good to people and the environment.</p>
    </div>
</div>

<%- include ('partials/footer.ejs') %>