<!-- 
    File name: views\project.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>

<div class="container-sm text-center">
    <h4>Homapage template for individuals or small business (HTML & CSS only)</h4>
    <p>navigation bar, product listing, contact form</p>
        <iframe width="600" height="350" src="/public/img/project-demo1.mp4" frameborder="0" allowfullscreen></iframe>    
    <br><br>
    <h4>JavaScript Clicking Game</h4>    
        <iframe width="600" height="400" src="/public/img/project-demo2.mp4" frameborder="0" allowfullscreen></iframe>
    <br><br>
    <h4>Windows Forms APP</h4>
    <p>order data storage, payment calculator, form validation and list filters</p>
        <iframe width="650" height="400" src="/public/img/project-demo3.mp4" frameborder="0" allowfullscreen></iframe>    
</div>
<br>

<%- include ('partials/footer.ejs') %>