<!-- 
    File name: views\service.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>
<div class="container-fluid text-center">
    <h4>Services Offered</h4>
    <ol class="list-group list-group-flush">
        <li class="list-group-item">C#, Java Programming</li>
        <li class="list-group-item">Web Development</li>
        <li class="list-group-item"></li>
    </ol>
<img src="/public/img/stock_img.png" alt="project1" class="img-fluid">
</div>
<%- include ('partials/footer.ejs') %>