<!-- 
    File name: views\service.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>
<div class="container-sm"><h1>Services Offered</h1></div>

<div class="container-sm text-center">    
    <ol class="list-group text-center">
        <li class="list-group-item">C#, Java Programming</li>
        <li class="list-group-item">Web Development</li>        
    </ol>
    <br>
    <img src="/public/img/stock_img.png" alt="project1" class="img-fluid">
</div>
<br>
<%- include ('partials/footer.ejs') %>