<!-- 
    File name: views\service.ejs
    Student Name: Sze Ki Yeung
    Student ID: 301293751
    Date: 2023-9-27
 -->

<%- include ('partials/header.ejs') %>

<div class="container text-center">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="/public/img/visualstudio.png" class="card-img-top" alt="visualstudio" style="width: 300px; height: 300px;">
          <div class="card-body">
            <p class="card-text">C#, Java Programming</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="/public/img/vscode.png" class="card-img-top" alt="vscode" style="width: 300px; height: 300px;">
          <div class="card-body">
            <p class="card-text">Node.js Web Development</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="/public/img/SQL.png" class="card-img-top" alt="SQL" style="width: 300px; height: 300px;">
          <div class="card-body">
            <p class="card-text">Database Design</p>
          </div>
        </div>
      </div>
    </div>
  <br>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="/public/img/visualparadigm.png" class="card-img-top" alt="visualparadigm" style="width: 300px; height: 300px;">
          <div class="card-body">
            <p class="card-text">Scrum Project Management, Systems Design</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="/public/img/SDL.png" class="card-img-top" alt="SDL" style="width: 300px; height: 300px;">
          <div class="card-body">
            <p class="card-text">Writing, Translation (Eng + Chinese), Editing, Proofreading, Typesetting</p>
          </div>
        </div>
      </div>

      <div class="col">
      </div>
    </div>
  </div>





<br>
<%- include ('partials/footer.ejs') %>